@import "utils/variables";
@import "utils/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $bg-color;
  @include flex(column, 0, center);
  height: 100vh;
}
.header {
  max-width: 540px;
  margin-top: 80px;
  text-align: center;

  &__text--thin {
    @include font-settings(275, 36px, #4d4f62);
  }

  &__text--bold {
    @include font-settings(600, 36px, #4d4f62);
  }

  &__description {
    @include font-settings(400, 15px, #4d4f62);
    line-height: 167%;
    text-align: center;
    opacity: 0.5;
  }
}

.cards {
  margin-top: 64px;
  @include flex(row, center, center);
  gap: 30px;
}

.double-card {
  @include flex(column, center, 0);
  gap: 30px;
}

.card {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  background: #fff;

  &--orange {
    @include top-border($border-orange);
  }

  &--red {
    @include top-border($border-red);
  }

  &--aqua {
    @include top-border($border-aqua);
  }

  &--blue {
    @include top-border($border-blue);
  }

  &__title {
    @include font-settings(600, 20px, #4d4f62);
  }

  &__description {
    @include font-settings(400, 13px, #4d4f62);
    line-height: 177%;
    opacity: 0.5;
  }

  &__icon {
    width: 64px;
    height: 64px;
    display: block;
    margin-top: 33px;
    float: right;
  }
}

@include media-query($md) {
  .cards {
    flex-direction: column;
  }
}

@include media-query($sm) {
  .header {
    padding: 0 32px;
    max-width: 311px;
  }
}
